
.icon-off:before { content: '\e800'; } /* '' */
.icon-credit-card:before { content: '\e801'; } /* '' */
.icon-money:before { content: '\e802'; } /* '' */
.icon-wrench:before { content: '\e803'; } /* '' */
.icon-news:before { content: '\e804'; } /* '' */